.loginForm {
    height: calc(100vh - 62px);
    width: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: center;
}


.formWrapper {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
    /* background: blue; */
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
	background: rgb(248, 248, 248);
}


.loginForm form {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    width: 66%;
    margin: 0 auto;
    /* background: red; */
    /* padding: 0 20px 0 0; */
}


.loginForm form div {
    width: 100%;
}

.loginForm form label {
    /* margin-top: 10px; */
    margin-bottom: 6px;
    margin-left: 10px;
}

.loginForm form input {
    height: 56px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 6px;
    margin-bottom: 20px;
    /* padding: 6px 20px; */
    /* padding: 6px 0 6px 0; */
    width: 100%;
	font-family: 'MetaSerifPro';
    font-weight: bold;
    box-sizing: border-box;
    padding-left: 20px;
    /* padding-top: 6px; */
    /* padding-bottom: 6px; */
    font-size: 1rem;
    display: block;
    outline: none;
    margin-top: 3px;
}


.loginForm form input:focus {
	border: 1px solid transparent;
	box-shadow: 0 0 0 2px black ;
}


.submitFormBtn {
    width: 100%;
    /* width: 300px; */
	height: 53px;
	border: none;
	background: #000;
	border-radius: 6px;
	cursor: pointer;
	color: #fff;
	display: block;
	/* margin: 20px auto 0 auto; */
	font-family: 'MetaSerifPro';
    font-size: 1rem;
	font-weight: bold;
	margin: -6px auto 0 auto;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
}


.submitFormBtn:hover {
    background: rgb(49, 49, 49);
}


.linkToDffAuthScreen {
    font-size: 0.8rem;
    margin-top: 10px;

}