.posts {
    flex: 8;
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    /* min-width: 600px; */
    /* background-color: red; */
   
}

.posts > h1 {
    font-size: 2rem;
    margin: 60px 0 60px 0;
    font-weight: 900;
    text-align: center;
    text-decoration: underline;
}

.post-container {
    display: grid;
    grid-template-columns:  repeat(2, minmax(300px, 1fr));
    place-items: center;
    grid-gap: 2rem;
    padding: 0 30px;
    margin-bottom: 30px;
}



.showSidebarItem {
    display: none;
    margin-top: 0;
    max-width: 660px;
    /* background-color: red; */
    margin: 0 auto 30px auto;
}


.showSidebarItem .sidebarListItem {
    padding: 10px 0;
    font-size: 0.8rem;
    margin-bottom: -6px;
}


@media screen and (max-width: 1200px) {
     
    .post-container {
        grid-template-columns:  repeat(auto-fit, minmax(600px, 1fr));
    }
}


@media screen and (max-width: 1000px) {
    .showSidebarItem {
        display: block;
    }
    .posts > h1 {
        margin: 30px 0 0 0;
    }
}

@media screen and (max-width: 800px) {
    .posts {
        min-width: none !important;
    }
    .posts > h1 {
        font-size: 1.6rem;
    }
    .post-container {
        grid-template-columns:  repeat(1, minmax(300px, 1fr));
    }
}



@media screen and (max-width: 600px) {
    .posts > h1 {
        font-size: 1.2rem;
        margin: 20px auto 0 auto;
        width: 80%;
        line-height: 1.5rem;
    }
}





@media screen and (max-width: 600px) {
    .showSidebarItem {
        margin-bottom: 30px;
        max-width: 460px;
    }

    .showSidebarItem .sidebarListItem {
        padding: 10px 0;
        font-size: 0.6rem;
    }
}