.top {
	width: 100%;
	height: 60px;
	background-color: rgb(255, 255, 255);
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
  font-family: 'MetaSerifPro';
	/*background-color: #121212;*/
	border-bottom: 1px solid rgba(0,0,0,0.1);
	z-index: 999999999;
	color: #fff;
}


.topLeft, .topRight {
	flex: 3;
	/*background-color: red;*/
}


.topLeft {
	display: flex;
	align-items: center;
	justify-content: center;
	/*background: green;*/
}


.topLeft .socialMediaIcons {
	width: 60%;
	max-width: 200px;
	display: flex;
	justify-content: space-around;
	/*background: green;	*/
}

.topLeft .socialMediaIcons img {
	width: 20px;
	cursor: pointer;
}


.socialIconsCover {
	/*background: red;*/
	border-bottom: 2px solid #000;
}


.socialIconsCover img {
	transition: all 0.3s ease;
}


.socialIconsCover:hover img {
	transform: translateY(-3px);
}

.topCenter {
	flex: 6;
}


.topCenter ul {
	margin: 0 auto;
	/*background: green;*/
	max-width: 60%;
	display: flex;
	justify-content: space-around;	
	align-items: center;
}

.topCenter ul li a {
	text-decoration: none;
	color: #000;
	transition: all 0.3s ease;
	padding: 5px 10px;
	box-sizing: border-box;
	/*background: red;*/
	border-radius: 6px;
}



.topCenter ul li a:hover {
	color: #fff;
	background: rgba(0, 0, 0, 1);
}

.topRight {
	height: 100%;
	display: flex;
	/*background: red;*/
	justify-content: center;
	align-items: center;
	position: relative;
}

.topRight img {
	cursor: pointer;
}

.topRight .profilePicRapper {
	width: 30px;
	border: 3px solid #000;
	margin-left: 20px;
	border-radius: 50%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}


.topRight .profilePicRapper a {
	display: flex;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.topRight .profilePic {
	width: 100%;
	height: 100%;
	object-fit: contain;
}



.logout {
	color: rgb(255, 100, 100);
    font-family: 'MetaSerifPro';
	background: none;
	border: none;
	font-weight: 900;
	text-decoration: underline;
	font-size: 1rem;
	cursor: pointer;
	padding: 0;
}


.loginBtn {
	margin-left: 10px;
	
}

.loginBtn a {
	color: #fff;
	text-decoration: none;
}

.loginBtn a button {
	background: rgb(0, 0, 0);
	border: none;
	display: flex;
	font-size: 0.8rem;
	font-weight: 900;
    font-family: 'MetaSerifPro';
	align-items: center;
	padding: 0 10px;
	justify-content: center;
	border-radius: 6px;
	cursor: pointer;
	height: 36px;
	color: #fff;
	width: 80px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}


.loginBtn a button:hover {
    background: rgb(49, 49, 49);
}


#searchbar {
	width: 150px;
	position: absolute;
	left: -8%;
	height: 30px;
	padding: 3px 0 3px 20px;
	font-family: 'MetaSerifPro';
	font-weight: 900;
	font-size: 0.8rem;
	border: 1px solid rgba(0,0,0,0.1);
	outline: none;
	border-radius: 6px;
	transition: all 0.2s ease;
}

.additionalPadding {
	left: -12% !important;
}


#searchbar:focus {
	border: 1px solid transparent;
	box-shadow: 0 0 0 2px black ;
}
