.header-section {
    display: flex;
    height: calc(100vh - 61px);
    position: relative;
}

.header-style-object {
    flex: 1;
    background-color: #000;
    /* position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%; */
    min-width: 300px;
}

.header-content-section {
    flex: 3;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}


.header-call-to-action-object {
    flex: 1;
}

.header-style-image {
    flex: 2;
    position: relative;
    overflow: hidden;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.header-style-image div:first-child {
    background-color: blue;
}

.header-style-image img {
    width: 100%;
    min-width: 500px;
    max-width: 900px;
    position: relative;
    top: 60px;
  
}


.header-style-image p {
   width: 400px; 
   text-align: center;
   font-size: 1.2rem;
   position: relative;
   top: 100px;
   right: 200px;
}


.header-call-to-action-object {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.header-call-to-action-object p {
    font-size: 0.8rem;
    font-weight: 500;
    opacity: 0.6;
}

.icon-down img {
    animation: pulse 2s ease 0s infinite;
}

@keyframes pulse {
  0% {
      transform: translateY(0px);
  }
  50% {
      transform: translateY(4px);
  }
  
  100% {
      transform: translateY(0px);
  }
}

